@charset "UTF-8";
#table_cap{
  text-align: left;
}

.header_img{
  border: 5px solid #006633;
  box-shadow: 10px 15px 10px #FFCC33;
}

#survey_link{
  color: #006633;
}

html{
background-color: #e1e8e3;
}

.content-con{
  font-size: 1.5em;
}

#survey_cont{
  text-align: center;
}

.w3-green{
  background-color: #006633;
}

.Course_num {
  color: #006633;
}

.Course_name {
  color: #FFCC33;
}

.s_header{
  border: 5px solid #006633;
  box-shadow: 10px 15px 10px #FFCC33;
}